---
name: "Update Gradle Wrapper"
"on":
  schedule:
    - cron: "0 0 * * *"
permissions:
  contents: "read"
jobs:
  update-gradle-wrapper:
    permissions:
      contents: "write"
      pull-requests: "write"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: "Update Gradle Wrapper"
        uses: "gradle-update/update-gradle-wrapper-action@512b1875f3b6270828abfe77b247d5895a2da1e5"
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          labels: "dependencies"
      - uses: "gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6"